.icono {
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 2.75rem;
    color: #4ECDE6;
}

.alinear-boton {
    margin: 0px 20px 10px 0px;
}

/* CSS para el modal del pdf */
.tamanio-modal {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}

.contenido-modal {
    height: 750px;
}

iframe {
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {
    .tamanio-modal {
        max-width: 1000px;
        width: 1000px;
        margin: 1.75rem auto;
        max-height: 750px;
        height: 750px;
    }
}